_red = #cc0000

.root
  flex-direction row
  justify-content space-between

.item
  align-items center
  justify-content center
  max-width 30%

.text
  color _red
  text-align center
  font-weight 200
  margin-top 1u

