_red = #cc0000
_gray = #717171

.root
  justify-content space-between

.title
  align-items center

.h5
  color _red
  letter-spacing 0.5u

.h4
  color _red
  letter-spacing 1u

.item
  margin-top 3u
  padding-bottom 3u

  +native()
    border-bottom-width 1px
    border-color #d0d0d0

  +web()
    border-bottom 1px solid #d0d0d0

  &.noBorder
    border-bottom none
    padding-bottom 0

.left
  background #fff
  padding 2u
  align-items center
  width 8u

.dayText
  color _red

.dateText
  color _red

.right
  flex-shrink 1
  margin-left 2u
  justify-content center

.icon
  justify-content center

.titleText
  color _red

.grayText
  color _gray

.bottom
  margin-top 3u
