.root
  flex-direction row
  align-items flex-end
  justify-content space-between
  z-index 1
  width 100%

  +desktop()
    width 120u

.menu
  display none

  +desktop()
    display flex

.logoImage
  width 200px
  height 98px
