.root
  flex-direction row
  align-items flex-end
  justify-content space-between
  width 100%

  +desktop()
    max-width 150u

.menu
  display none

  +desktop()
    display flex
    align-items flex-end

.logoImage
  width 200px
  height 98px
