.root
  flex-direction row
  align-items center
  justify-content flex-end

.greeting
  color #ffffff
  text-align right

.name
  color #ffffff
  font-size 2u
  text-align right
  margin-top 0.5u

.user
  margin-left 2u
