$menuHeight = 6u
$logoColor = #FCB69D

.sidebarRoot
  background greenyellow
  flex 1

.logoWrapper
  align-items center
  margin-top 3u

.logoImage
  width 200px
  height 98px

.sidebar
  margin-top 8u

.menuItemText
  color #fff

.menu
  background-color rgba(black, 0.02)
  height $menuHeight
  z-index 1
  align-items center
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)

.logo
  margin-left 2u
  &Text
    color $UI.colors.secondaryText

.bg
  min-height 98u
  padding 4u 2u
  align-items center

.body
  align-items center
