_red = #cc0000
_gray = #717171

.root
  justify-content space-between

.title
  align-items center

.h2
  font-size 2.5u
  color _red
  letter-spacing 0.5u

.h1
  font-size 5u
  color _red
  letter-spacing 1u

.image
  width 6u
  height 6u

.item
  flex-direction row
  margin-top 3u

.left
  align-items center

.dayText
  color _red

.dateText
  color _red
  font-size 3u

.right
  flex-shrink 1
  margin-left 2u
  justify-content center

.titleText
  color _red

.grayText
  color _gray
  margin-top 0.5u

.bottom
  margin-top 3u
