.root
  background #f7f7f7
  padding 4u 3u

.text
  color #ffffff
  letter-spacing 1u

.subtitleText,
.titleText
  color #cc0000

.subtitleText
  margin-top 1u

.titleInput
  margin-top 4u

.textInput
  margin-top 2u
