.root
  background #f7f7f7
  padding 4u 3u

.text
  color #ffffff
  letter-spacing 1u

.subtitleText,
.titleText,
.emailText
  color #cc0000

.titleText
  letter-spacing 0.5u
  font-size 2.5u

  +desktop()
    font-size 3u

.grayText
  color #a4a4a4

.subtitleText
  margin-top 1u
  letter-spacing 3px

.titleInput
  margin-top 4u

.textInput
  margin-top 2u

.sendWrapper
  margin-top 1u

.emailText
  margin-top 0.5u

.button
  margin-top 2u
