_red = #cc0000
_gray = #6f6f6f
_lightGray = #ababab

.root
  flex-direction row
  margin-top 2u

  &.first
    margin-top 0

.avatar
  width 4u
  height 4u
  border-radius 5u

.content
  margin-left 1u
  //flex-shrink initial
  flex-shrink 1
  width 100%

.message
  justify-content flex-start
  align-items baseline
  +desktop()
    flex-direction row

.nameText,
.hashText
  color _red

.hashText
  +desktop()
    margin-left 1u

.text
  margin-top 1u
  color _gray
  line-height 2.5u

.dateText
  color _lightGray
  font-size 1.5u
  margin-top 1u

.bottom
  margin-top 1u
