.root
  width 100%
  background #fff
  margin-top 4u

  +desktop()
    width 33.33%
    margin-top 0

.section
  padding 3u

  &.gray
    background #efefef

  &.darkGray
    background #dddddd

  &.noPaddingBottom
    padding-bottom 0
