.root
  width 100%
  background #fff
  margin-top 6u

  +desktop()
    width 40u
    margin-top 0

.section
  padding 4u 4u 0 4u

  &-gray
    background #efefef

  &-paddingBottom
    padding-bottom 4u
