.root
  width 100%
  background #fff
  margin-top 6u

  +desktop()
    width 40u
    margin-top 0

.section
  //padding 4u 4u 0 4u
  padding 3u

  &.gray
    background #efefef

  &.darkGray
    background #dddddd

  &.noPaddingBottom
    padding-bottom 0
