_red = #cc0000
_gray = #aaa
_darkGray = #6e6e6e

.root
  flex-direction row
  margin-top 3u
  width 100%

  &.first
    margin-top 0

.redText
  color _red

.number
  width 5u
  height 5u
  justify-content center
  align-items center
  border-radius 7u
  border-color #0c0c0c
  border-width 1px

  +desktop()
    width 7u
    height 7u

.numberText
  +desktop()
    font-size 3u

.item
  margin-left 2u
  width 100%
  flex-shrink 1

.authorText
  color _red

.voteText
  margin-left 1u
  color _red

.author
  flex-direction row
  margin-top 2u
  align-items flex-end

.dateText
  margin-left 1u
  color _gray
  line-height 3u

.text
  margin-top 2u

.contentText
  font-weight 200
  color _darkGray

.metaWrapper
  flex-direction row
  justify-content space-between
  align-items flex-start
  margin-top 2u

.meta
  flex-direction row

.icons
  flex-direction row

.heart, .manage
  margin-left 2u

.titleText
  letter-spacing 0.5u
