_red = #cc0000
_gray = #aaa
_darkGray = #6e6e6e

.root
  flex-direction row
  margin-top 3u
  width 100%

  &.first
    margin-top 0

.number
  width 7u
  height 7u
  justify-content center
  align-items center
  border 1px solid #0c0c0c
  border-radius 7u

.item
  margin-left 2u
  width 100%
  flex-shrink 1


.authorText
  color _red
  font-size 2u

.red
  margin-left 1u
  color _red

.author
  flex-direction row
  margin-top 2u

.dateText
  margin-left 1u
  color _gray

.text
  margin-top 2u

.contentText
  font-size 2u
  font-weight 200
  color _darkGray
  line-height 3u

.metaWrapper
  flex-direction row
  justify-content space-between
  align-items flex-start
  padding 2u

.meta
  flex-direction row

.icons
  flex-direction row

.manage
  flex-direction row
  margin-left 2u

.titleText
  font-size 2.5u
  letter-spacing 0.5u
