.root
  //color #cc0000
  line-height 3u

  &-white
    background greenyellow

  &-red
    background greenyellow

  //&-white
  //  background greenyellow
  //  color #ffffff

  //&-subtitle
  //  font-size 3u
  //  line-height 4u
  //
  //  +tablet()
  //    font-size 4u
  //    line-height 5u
  //
  //&-title
  //  font-size 5u
  //  line-height 6u
  //
  //  +tablet()
  //    font-size 6u
  //    line-height 7u
  //
  //&-center
  //  text-align center
  //
  //&-bold
  //  font-weight 700
