_red = #cc0000

.root
  background #efefef
  flex-direction row
  padding  0 3u

.tab
  margin-left 1u
  position relative
  padding 2u 1u
  &.first
    margin-left 0
  &.active
    background greenyellow

.tabText
  color _red

.arrow
  width 0
  height 0
  border-left-width 1u
  border-right-width 1u
  border-color transparent
  border-bottom-width 1u
  border-bottom-color #fff
  position absolute
  bottom 0
  left 30%
