.root
  margin-top 4u
  padding 0
  flex 1

.main
  width 100%

  +desktop()
    width 66.6%

.content
  max-width 150u
  +desktop()
    flex-direction row

.title
  margin-top 4u
  width 100%

  +desktop()
    max-width 150u

.text
  color #ffffff
  letter-spacing 1u
  +desktop()
    font-size 6u
