.root
  padding 2u 0
  flex 1

.main
  max-width 80u
  background greenyellow

.content
  +desktop()
    flex-direction row


.title
  margin-top 6u
  width 100%

  +desktop()
    width 120u

.text
  color #ffffff
  letter-spacing 1u
