.root
  margin-top 4u
  padding 0
  //padding 2u 0
  flex 1

.main
  max-width 80u

.content
  +desktop()
    flex-direction row

.title
  //margin 5u 0
  margin-top 4u
  width 100%

  +desktop()
    width 120u

.text
  color #ffffff
  letter-spacing 1u
  +desktop()
    font-size 6u
